<ion-header>
  <ion-toolbar>
    <ion-title>
      Add/Edit Bugs
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismisModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #contactForm="ngForm" (ngSubmit)="submitdata(contactForm.value)">
    <ion-list>
      <ion-list-header>
        <ion-label>Bug Description</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="text" name="bugdesc" [(ngModel)]="description"></ion-input>
        <ion-input type="text" name="bugid" [(ngModel)]="bugid"></ion-input>
      </ion-item>
      <ion-list>
        <ion-radio-group name="priority" [(ngModel)]="priority">
          <ion-list-header>
            <ion-label position="fixed">Priority</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Low</ion-label>
            <ion-radio slot="start" value="Low"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Medium</ion-label>
            <ion-radio slot="start" value="Medium"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>High</ion-label>
            <ion-radio slot="start" value="High"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-list>

        <ion-list-header>
          <ion-label>Area</ion-label>
        </ion-list-header>

        <ion-item slot="start">
          <ion-select placeholder="Select Area" name="area" [(ngModel)]="area">
            <ion-select-option *ngFor="let rec of arealist" value="{{rec}}">{{rec}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- <ion-item class="form-check form-check-inline " *ngFor="let rec of arealist">
          <ion-item>
            <label for="area_{{rec}}">
              <input id="area_{{rec}}" [value]='rec' type="radio" name="area" [(ngModel)]="area">
              {{rec}}
            </label>
          </ion-item>
        </ion-item> -->

        <ion-list-header>
          <ion-label>Filed By</ion-label>
        </ion-list-header>

        <ion-item class="form-check form-check-inline " *ngFor="let rec of filedbylist">
          <ion-item>
            <label for="filed_by_{{rec}}">
              <input id="filed_by_{{rec}}" [value]='rec' type="radio" name="filed_by" [(ngModel)]="filedby">
              {{rec}}
            </label>
          </ion-item>
        </ion-item>
        <!-- <ion-radio-group name="filed_by" [(ngModel)] = "filed_by"  *ngFor="let rec of filed_bylist; let j=index; ">
          <ion-item>
              <ion-label class="ion-text-wrap">{{ j +" "+rec }}</ion-label>
              <ion-radio name="{{j}}" id="{{j}}"  ngModel="false" slot="start"></ion-radio>
           </ion-item>
        </ion-radio-group> -->
      </ion-list>
    </ion-list>
    <ion-button class="ion-margin-top" expand="block" color="primary" type="submit">
      Submit Form
    </ion-button>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuGlobal"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="home" routerLink="/home" slot="icon-only"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
